#container{

    display: flex;
    justify-content: center;
    height:100vh;

    
} 

.grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: 70%;
    margin: 100px;
    border: 1px solid black;
    box-sizing: border-box;



.grid-item{
    display: flex;
    width:calc(100%/16);
    height:calc(100%/16);
    border: 1px solid black;
    box-sizing: border-box;
    background-color: black;
    opacity: 1;

}