#container{

    display: flex;
    justify-content: center;
    height:100vh;

    
} 

.grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    height: 60%;
    margin: 100px;
}



.grid-item{
    display: flex;
    width:calc(100%/16);
    height:calc(100%/16);
}